<h1>You reached the login route</h1>
<form class="" action="/auth/login" method="post">
  Username: <input type="text" name="username">
  Password: <input type="text" name="password">
  <button type="submit" name="submit">Submit</button>
</form>
